<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>
      <mat-toolbar>
        <a [routerLink]="['/scouts']">
          <img src="assets/img/escoutlogo.svg"
          class="logo">
        </a>
        <a [routerLink]="['/scouts']"  class="font-chilanka">
          <span>EScout</span>
        </a>
        <a [routerLink]="['/my_page']" *ngIf="loggedScout && loggedScout.id">
          <button mat-button class="font-chilanka">My Page</button>
        </a>
        <a [routerLink]="['/badges']" *ngIf="loggedScout && loggedScout.id">
          <button mat-button class="font-chilanka">All badges</button>
        </a>
        <a [routerLink]="['/login']"*ngIf="!loggedScout || !loggedScout.id">
          <button mat-button class="font-chilanka">Login</button>
        </a>
        <a [routerLink]="['/register']" *ngIf="!loggedScout || !loggedScout.id">
          <button mat-button class="font-chilanka">Register</button>
        </a>
      </mat-toolbar>
      <app-login *ngIf="!loggedScout || !loggedScout.id"></app-login>
      <router-outlet *ngIf="loggedScout && loggedScout.id"></router-outlet>
  </body>
</html>
