<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>
      <mat-toolbar>
        <a [routerLink]="['/scouts']">
          <img src="assets/img/escoutlogo.svg"
          class="logo">
        </a>
        <a [routerLink]="['/scouts']"  class="font-chilanka">
          <span>EScout</span>
        </a>

          <button mat-button class="font-chilanka">My badges</button>
        <a [routerLink]="['/badges']">
          <button mat-button class="font-chilanka">All badges</button>
        </a>
        <a [routerLink]="['/login']">
          <button mat-button class="font-chilanka">Login</button>
        </a>
        <a [routerLink]="['/register']">
          <button mat-button class="font-chilanka">Register</button>
        </a>
      </mat-toolbar>

      <router-outlet></router-outlet>

  </body>
</html>
