<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <mat-toolbar>
      <a [routerLink]="['/scouts']">
        <img src="assets/img/escoutlogo.svg"
        class="logo">
      </a>
      <a [routerLink]="['/scouts']">
        <span>EScout</span>
      </a>
      <button mat-button>My badges</button>
      <a [routerLink]="['/badges']">
        <button mat-button >All badges</button>
      </a>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </body>
</html>
